@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Montserrat:wght@400;700&family=Roboto:wght@400;500&family=Open+Sans:wght@400;600&family=Lato:wght@400;700&family=Raleway:wght@400;600&family=Dancing+Script:wght@400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



/* Gradient Scrollbar Styling */
body::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

body::-webkit-scrollbar-track {
  background: linear-gradient(to bottom, #f3f4f6, #d1d5db); /* Track gradient */
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #60A5FA, #a2bfe4, #f3f4f6); /* Thumb gradient with new primary color */
  border-radius: 10px;
}

